dl {
  display: grid;
  grid-template-columns: max-content max-content;
}

dt {
  padding: 12px;
  font-weight: bold;

  &:nth-of-type(odd) {
    background-color: var(--table-zebra-stripe);
  }
}

dd {
  margin-inline-start: 0;
  padding: 12px;

  &:nth-of-type(odd) {
    background-color: var(--table-zebra-stripe);
  }
}
