<form [formGroup]="form">
  <mat-form-field appearance="outline">
    <mat-label>Filter current page</mat-label>
    <input matInput formControlName="search" />
  </mat-form-field>

  <srt-button (click)="clearFilter()" [disabled]="resetDisabled()">
    Clear
  </srt-button>
</form>

@if (error()) {
<div class="error-message">Unable to retrieve speakers.</div>
} @else {
<srt-table
  [data]="speakers()"
  [loading]="loading()"
  (clickedRowId)="navigateTo($event)"
/>
<mat-paginator
  [pageIndex]="pageIndex()"
  [pageSize]="20"
  [length]="totalResults()"
  showFirstLastButtons
  (page)="changedPage($event)"
/>
}
