/* You can add global styles to this file, and also import other style files */

html {
  --primaryColour: #0c0128;
  --table-zebra-stripe: #f3f2f7;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
